body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #007BFF;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}

.welcome-message {
    background-color: #282c34;
    color: #61dafb;
    padding: 10px;
}

main {
    padding: 20px;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links li {
    margin: 10px 0;
}

.links a {
    text-decoration: none;
    color: #007BFF;
}

.links a:hover {
    text-decoration: underline;
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.images img {
    width: 400px;
    height: auto;
    border: 2px solid #007BFF;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
